nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #353535;
    padding: .5rem;
    a{
        background: #3a3a3a;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        padding: 1rem;
        border-radius: .5rem;
        transition: .3s all;
        &:hover{
            background: #414141;
            box-shadow: 0 .3rem 1rem -0.5rem rgba(252, 252, 255, 0.315);
            transform: scale(1.025);
        }
    }
}